<!-- 2015-04-29 dummy development when working outside of next-gen reflect. -->

<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Angular bootstrap calendar demo</title>
    <meta name="description" content="Angular bootstrap calendar demo">
    <meta name="viewport" content="width=device-width">
    <style type="text/css">
      [ng-cloak] {
        display: none;
      }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/ts-angular-bootstrap-calendar.css">
    <link rel="stylesheet" href="docs/styles/main.css">
  </head>
  <body ng-app="reflectCalendar" ng-cloak>

<h1>May want: </h1>
Button with "today function"
<pre>
  <code>
    < button
      class="btn btn-default"
      mwl-date-modifier
      date="calendarDay"
      set-to-today>
      Today
    </button>
  </code>
</pre>

<h3>selecting the specific day</h3>
cal-month-day > calMonthDayNumber
OR
span[data-cal-date]
<h4>Selecting a specific number on the calendar</h4>
span.pull-right.calMonthDayNumber

<h3>
  Calendar Title class for styling
</h3>
calendarTitle

for the bottom-border
cal-row-head 
border-bottom: 2px solid #ff9900







    <!-- START container-fluid -->
    <div class="container-fluid">
      <!-- START MainController -->
      <div class="row" ng-controller="MainCtrl" id="demo">
        SCORE: {{calJson.cal}}


          <h4>event-list, scheduled</h4>
          <!-- START event-list, scheduled -->
          <!-- <div class="row" id="event-list">
            <div class="col-sm-10 col-sm-offset-1">
                <div ng-repeat="event in events track by $index | orderBy: calendarDay">
 -->
                    <!-- event-list-day-heading -->
                    <!-- <div class="event-list-day">
                      {{event.partParameters.startTime | date: 'EEEE MMM. dd'}}
                      {{event.scheduled}}
                    </div> -->
                    
                    <!-- event-list-details -->
                    <!-- <div class="event-list-details">
                      <div class="event-list-time">
                        {{event.partParameters.startTime | date: 'h:mm a'}}
                      </div>
                      <span class="icon">
                        icon here
                      </span>  
                      <span class="event-list-title">
                        {{event.title}}
                      </span>
                      <span class="event-list-observer">
                        {{event.observer.lastName}}, {{event.observer.firstName}}
                      </span>
                    </div> -->

                    <!-- event-list-action -->
                    <!-- <div class="event-list-action">
                      <button class="btn btn-primary">Re-Schedule</button>
                    </div>
                  <hr> 
                </div>
            </div>
          </div> -->
          <!-- END event-list, scheduled -->


          <h4>event-list, unscheduled</h4>
          <!-- START event-list, unscheduled -->
          <!-- <div class="row" id="event-list">
            <div class="col-sm-10 col-sm-offset-1">
                <div ng-repeat="event in events track by $index | orderBy: calendarDay"> -->
                    
                    <!-- HACK -->
                    <div ng-if="!event.partParameters.startTime" >
                          <!-- event-list-day-heading -->
                          <div class="event-list-day">
                            {{event.partParameters.startTime | date: 'EEEE MMM. dd'}}
                            {{event.scheduled}}
                          </div>
                          
                          <!-- event-list-details -->
                          <!-- <div class="event-list-details">
                            <div class="event-list-time">
                              {{event.partParameters.startTime | date: 'h:mm a'}}
                            </div>
                            <span class="icon">
                              icon here
                            </span>  
                            <span class="event-list-title">
                              {{event.title}}
                            </span>
                            <span class="event-list-observer">
                              {{event.observer.lastName}}, {{event.observer.firstName}}
                            </span>
                          </div> -->

                          <!-- event-list-action -->
                          <!-- <div class="event-list-action">
                            <button 
                              class="btn btn-primary"
                              ng-click="logDay()">
                              Schedule</button>
                          </div>
                        <hr>
                    </div>
 
                </div>
            </div>
          </div> -->
          <!-- END event-list, unscheduled -->

          <!-- START calendarControl row -->
          <div class="row">
            <div class="col-md-4 text-center">
                <a
                  mwl-date-modifier
                  date="calendarDay"
                  decrement="calendarView">
                  <span class="icon-angle-left"></span>
                  Previous(placeholder until fontello)
                </a>
            </div>

            <div class="col-md-4 text-center">
                <p class="text-center calendarTitle">{{ calendarTitle }}</p>
            </div>

            <div class="col-md-4 text-center">
                <a
                  mwl-date-modifier
                  date="calendarDay"
                  increment="calendarView">
                  Next(placeholder until fontello)
                  <span class="icon-angle-right"></span>
                </a>

            </div>

          </div>
          <!-- END calendarControl row -->

          <br>
          
          <!-- START calendarMonthView -->
          <div class="row">
            <mwl-calendar
              events="events"
              view="calendarView"
              view-title="calendarTitle"
              current-day="calendarDay"
              on-event-click="eventClicked(calendarEvent)"
              edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
              delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
              on-edit-event-click="eventEdited(calendarEvent)"
              on-delete-event-click="eventDeleted(calendarEvent)"
              auto-open="true"
              day-view-start="06:00"
              day-view-end="22:00"
              on-timespan-click="dayClicked(calendarDay)"
              day-view-split="30">
            </mwl-calendar>
          </div>
          <!-- END calendarMonthView -->





          






          <!-- START modal content -->
          <script type="text/ng-template" id="modalContent.html">
            <div class="modal-header">
              <h3 class="modal-title">Event action occurred!</h3>
            </div>
            <div class="modal-body">
              <p>Action: <pre>{{ action }}</pre></p>
              <p>Event: <pre>{{ event | json }}</pre></p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="$modalInstance.close()">OK</button>
            </div>
          </script>
          <!-- END modal content -->

          




          <!-- START event-editor grid -->
          <h3 id="event-editor">
            Edit events
            <button class="btn btn-primary pull-right" ng-click="events.push({title: 'New event', type: 'important'})">Add new</button>
            <div class="clearfix"></div>
          </h3>

          <table class="table table-bordered">

            <thead>
              <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Starts at</th>
                <th>Ends at</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="event in events track by $index">
                <td><input type="text" class="form-control" ng-model="event.title"></td>
                <td>
                  <select ng-model="event.type" class="form-control">
                    <option value="important">Important</option>
                    <option value="warning">Warning</option>
                    <option value="info">Info</option>
                    <option value="inverse">Inverse</option>
                    <option value="success">Success</option>
                    <option value="special">Special</option>
                  </select>
                </td>
                <td>
                  <p class="input-group" style="max-width: 250px">
                    <input type="text" class="form-control" datepicker-popup="medium" ng-model="event.partParameters.startTime" is-open="event.startOpen" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="toggle($event, 'startOpen', event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                  <timepicker ng-model="event.partParameters.startTime" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                </td>
                <td>
                  <p class="input-group" style="max-width: 250px">
                    <input type="text" class="form-control" datepicker-popup="medium" ng-model="event.endsAt" is-open="event.endOpen" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="toggle($event, 'endOpen', event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                  <timepicker ng-model="event.endsAt" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                </td>
                <td><button class="btn btn-danger" ng-click="events.splice($index, 1)">Delete</button></td>
              </tr>
            </tbody>

          </table>
          <!-- END event-editor grid -->


        </div>
        <!-- END MainController -->
      </div>
      <!-- END container-fluid -->   

    

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.0/moment.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular.bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <script src="src/app.js"></script>
    <script src="src/directives/mwlCalendar.js"></script>
    <script src="src/filters/calendarTruncateEventTitle.js"></script>
    <script src="src/filters/calendarLimitTo.js"></script>
    <script src="src/services/calendarConfig.js"></script>
    <script src="src/services/calendarTitle.js"></script>
    <script src="src/services/calendarHelper.js"></script>
    <script src="src/services/calendarDebounce.js"></script>
    <script src="src/services/moment.js"></script>
    <script src="src/directives/mwlCollapseFallback.js"></script>
    <script src="src/directives/mwlDateModifier.js"></script>
    <script src="src/directives/mwlCalendarYear.js"></script>
    <script src="src/directives/mwlCalendarMonth.js"></script>
    <script src="src/directives/mwlCalendarWeek.js"></script>
    <script src="src/directives/mwlCalendarDay.js"></script>
    <script src="src/directives/mwlCalendarSlideBox.js"></script>
    <script src="docs/scripts/demo.js"></script>
</body>
</html>
