<!-- <div class="cal-slide-box" collapse="vm.shouldCollapse" mwl-collapse-fallback="vm.shouldCollapse">
  <div class="cal-slide-content cal-event-list">
    <ul class="unstyled list-unstyled"> -->
<!-- TODO: filter by scheduled events, !null? -->
        <!-- <div ng-show="events.length === 0" class="event-list-header">
            <p><em>
              No events scheduled for day
            </em></p>
        </div>
        <div ng-show="events.length > 0" class="event-list-header">
            <p><em>
              Scheduled Events
            </em></p>
        </div>
      <li ng-repeat="event in events track by $index"> -->
<!-- TODO: ngClass to use avatar background color -->
        <!-- <span class="pull-left event" ng-class="'event-' + event.type"></span>
        &nbsp; -->
        
        <!-- event-list-day-heading -->
        <!-- <span class="event-list-day">
          {{event.startsAt | date: 'EEEE MMM. dd'}}
        </span> -->
        
        <!-- event-list-details -->
        <!-- <div class="event-list-details">
          <div class="event-list-time">
            {{event.startsAt | date: 'h:mm a'}}
          </div> -->
          <!-- event icon -->
          <!-- <span class="tree-left-icon small icon-list-alt"></span>  
          <span class="event-list-title">
            <a
              href="javascript:;"
              class="event-item"
              ng-click="onEventClick({calendarEvent: event})">
              {{ event.title }}
            </a>
          </span>
          <span class="event-list-observer">
            {{event.observer.lastName}}, {{event.observer.firstName}}
          </span>
        </div> -->

        <!-- event-list-action -->
        <!-- <a
          href="javascript:;"
          class="event-item-edit"
          ng-if="editEventHtml && event.editable !== false"
          ng-bind-html="vm.$sce.trustAsHtml(editEventHtml)"
          ng-click="onEditEventClick({calendarEvent: event})">
        </a>
        <hr> -->

        <!-- <a
          href="javascript:;"
          class="event-item-delete"
          ng-if="deleteEventHtml && event.deletable !== false"
          ng-bind-html="vm.$sce.trustAsHtml(deleteEventHtml)"
          ng-click="onDeleteEventClick({calendarEvent: event})">
        </a> -->
      <!-- </li>


    </ul>

  </div>
</div> -->
